:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button, .submitBtn {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover, .submitBtn:hover {
  background-color: #474e0e;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
  z-index: 1;
}

.cart a {
  text-decoration: none;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.product-list.cart-list{
  flex-direction: column;
  justify-content: space-around;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 25%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
  margin: 0 10%;
}

.cart-card__image {
  grid-row: 1/4;
  grid-column: 1;
  margin-right: 10px;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 2;
  grid-column: 3;
  text-align: center;
}

.cart-card__price {
  grid-row: 3;
  grid-column: 3;
  text-align: center;
}

.cart-card__delete {
  grid-row: 1;
  grid-column: 3;
  text-align: center;
  transition: all .2s ease-in-out;
}

.cart-card__delete:hover {
  transform: scale(1.2);
  color: red;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

#superscript {
  background-color: #e28431;
  color: white;
  font-family: var(--font-body);
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  padding: 2px 10px;
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  list-style: none;
  gap: 50px;
}

.products-grid a{
  text-decoration: none;
  color: black;
  text-align: center;
}

.cart-footer.hide {
  display: none;
}

.cart-footer {
  font-weight: 600;
}

.cart-footer p {
  text-align: center;
}

.cart-footer a {
  text-decoration: none;
}
form {
  padding: 0 3% 3% 3%;
  margin: 0 auto;
  max-width: 600px;
}

form fieldset {
  margin: 2rem 0;
  border: 1px solid var(--dark-grey);
  padding: .5rem 2%;
}

form legend {
  color: var(--dark-grey);
  margin: 0 1rem;
  padding: 0 .5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: var(--dark-grey);
  font-weight: 600;
}

form label.top input{
  display: block;
  font-size: 1rem;
  border: solid 1px var(--dark-grey);
  padding: .75rem;
  width: 100%;
}

form label.top {
  color: var(--dark-grey);
}

.form-list {
  list-style-type: none;
}

.form-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

#sort {
  width: 250px;
  font-family: var(--font-body);
  display: block;
  margin-left: 4.5px;
  padding: .3rem;
}

.title {
  color: var(--dark-grey);
  text-align: center;
  font-size: clamp(18px, 30px, 40px);
}

.title::after {
  display: inline-block;
  content: "";
  border-top: 2px solid var(--primary-color);
  width: 80%;
  margin: 0 1rem;
}

.img-container {
  margin: 0 auto;
  max-width: 800px;
}

.alert {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--dark-grey);
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
}

.alert span {
  color: var(--dark-grey);
  float: right;
  font-size: clamp(12px, 18px, 24px);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.alert span:hover {
  transform: scale(1.1);
}

.alert p{
  display: inline;
}

.backpack {
  transition: transform 0.2s;
}

@keyframes buzz {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.buzz-animation {
  animation: buzz 0.5s infinite;
}
